input#toggle {
  display: none;
  visibility: hidden;
}

label#primary-links {
  display: block;
  padding: 0.3em;
  text-align: left;
}

label#primary-links::before {
  font-family: Consolas, monaco, monospace;
  font-weight: bold;
  content: attr(data-before);
  position: relative;
  top: 5px;
}

#expand {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
}

#toggle:checked ~ #expand {
  height: auto;
}

#toggle:checked ~ label::before {
  font-family: Consolas, monaco, monospace;
  font-weight: bold;
  content: attr(data-before);
  position: relative;
  top: 5px;
}

.table-striped tr:nth-child(even) {background: #FFC0C0}

.table-striped tr:nth-child(odd) {background:  #FFEBEB}

table.table-striped {
  width: 100%;
}

.info{
  position: relative;
  top: -28px;
  padding-left: 32px;
  width: 100%;
  height: 20px;
  white-space: nowrap;
}

.label_ok, .label_aviso, .label_erro {
  position: relative;
  top: -12px;
  padding-left:10px;
  width: 20px;
  height: 20px;
}

.label_ok {  
  content:url(../images/ok.png);
}

.label_aviso {
  content:url(../images/aviso.png);
}

.label_erro {
  content:url(../images/erro.png);
}

#primary-links {
  background: #FF9148 url(../images/menubg.gif) repeat-x;
  height: 20px;
}
